
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60vh;
   
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 380px;
    border-radius: 30px;
    background-color: wheat;
    margin-top: 12px;
   
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 360px;
    background-color: gray;
    border-radius: 30px;
}

.watch{
    font-size: 70px;
    color:cyan;
    font-weight: 600;
    margin-left: 40px;
 
  
}

.text{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}
